:root {
  --color-primary: #39ff13;
  --color-secondary: #0c7d00;
  --color-text: #e0e0e0;
  --color-border: #d0d0d0;
  --color-hint: #c0c0c0;
  --color-bg: #0a0a0a;
  --gradient-text: linear-gradient(0deg, var(--color-secondary), var(--color-primary));
  --gradient-card: linear-gradient(45deg, var(--color-primary), var(--color-secondary) 30%, var(--color-border) 60%);
}
